.contacto {
    background-color: var(--bakcground-seccion);
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.contacto__imagen{
    width: 100%;
    background: url('../imagen/TeleÃÅfono.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.contacto__formulario{
    padding: 2rem 0;
    margin-left: 6rem;
    width: 100%;
    padding-left: 10rem;
}

.contacto__formulario h2{
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.contacto__formulario p{
    font-size: 20px;
    padding: 1rem 0;    
}

.contacto__input{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.contacto__input label{
    color: #696969;
    font-size: 1rem;
    padding: 1rem 0;
}

input,textarea{
    border: 0;
    width: 70%;
    padding: 1rem 0;
    font-size: 1rem;
    border-bottom: 1px solid #3235ca;
}

input[type="submit"]{
    padding: 1rem 0;
    background-color: #3235ca;
    color: #FFFFFF;
    transition: 400ms all;
}

input[type="submit"]:hover{
    cursor: pointer;
    color: #3235ca;
    border: 1px solid #3235ca;
    background-color: white;
}